h2{

    color: blue;
    font-weight: bold;
    margin: 5%;
    padding: 5%;
    border-radius: 5%;

}

h1{

    color: purple;
    text-align: center;
    font-weight: bold;
}

i{
    font-size: 10px
}

.wowzers{
    font-size: 60px;
    font-family: "Arial";
    
}
#exception{
    font-size: 15px;
    font-family:"monospace";
    color: yellowgreen
    
}
