
h1{

    color: red;
    text-align: center;
    font-weight: bold;
    padding: 5%;
    font-size: 50px
}
.wowzers{
    font-family: "Arial";
    
}
#widgettext{
    font-size: 30px;
    color: black;
    text-wrap: stable;
    
}

#buttonstuff{
    background-color:red;
    color:black;
}
